# app/views/application_approved_mailer/approved.html.erb
<h1>Congratulations, <%= @user.username %>!</h1>

<p>We are thrilled to welcome you to the PartsToGo family!</p>

<p>Your application to become a seller on PartsToGo has been **approved**.</p>

<p>You can now:</p>
<ul>
  <li>Start creating your seller profile.</li>
  <li>List your products for sale.</li>
  <li>Begin selling on PartsToGo!</li>
</ul>

<p>We're excited to see you succeed on PartsToGo!</p>

<p>Sincerely,</p>
<p>The PartsToGo Team</p>