<div class="message <%= 'sent' if message.sender_id == Current.user&.id %>">
  <p class="message-body"><%= message.body %></p>
  <span class="message-time"><%= time_ago_in_words(message.created_at) %> ago</span>
</div>


