<h1>New Order Notification</h1>

<p>Dear <%= @seller.username %>,</p>

<p>You have received a new order for the following item:</p>

<p>
  Product Name: <%= @product.name %><br>
  Quantity: <%= @order_item.quantity %>
</p>

<p>Please ensure that the above item is ready when the courier arrives to pick it up.</p>

<p>Thank you for using our platform!</p>