<h1>You Have a New Trade Request on Cart To Car</h1>

<p>Hi <%= @recipient.username %>,</p>

<p><%= @sender.username %> has sent you a trade request on Cart To Car for your <%= @trade.name %></p>

<p>To view and respond to this trade request, please navigate to your inbox. <%= link_to ' Open Inbox', inbox_index_path %></p>

<p>Sincerely,</p>
<p>The Cart To Car Team</p>