<h1>You Have a New Trade Request on PartsToGo</h1>

<p>Hi <%= @recipient.username %>,</p>

<p><%= @sender.username %> has sent you a trade request on PartsToGo for your <%= @trade.name %></p>

<p>To view and respond to this trade request, please navigate to your inbox. <%= link_to ' Open Inbox', inbox_index_path %></p>

<p>Sincerely,</p>
<p>The PartsToGo Team</p>