<!-- filepath: /c:/Users/Taffy/OneDrive/Desktop/Repositories/parts-box/app/views/admin/category_shipping_fees/edit.html.erb -->
<h1>Edit Category Shipping Fee</h1>
<%= render 'form', category_shipping_fee: @category_shipping_fee %>