<!-- filepath: /c:/Users/Taffy/OneDrive/Desktop/Repositories/parts-box/app/views/admin/category_shipping_fees/new.html.erb -->
<h1 style="text-align: center;">New Category Shipping Fee</h1>
<%= render 'form', category_shipping_fee: @category_shipping_fee %>