# app/views/application_submitted_mailer/submitted.html.erb
<h1>Congratulations, <%= @user.username %>!</h1>

<p>Your application to be a seller on Cart To Car has been successfully submitted.</p>

<p>You can expect to hear from us within the next few days with next steps.</p>

<p>If you have any questions, please don't hesitate to contact us at support@carttocar.app.</p>

<p>In the meantime, feel free to browse our selection of car parts and accessories and our seller policy</p>

<p>Sincerely,</p>
<p>The Cart To Car Team</p>