<!-- filepath: /c:/Users/Taffy/OneDrive/Desktop/Repositories/parts-box/app/views/admin/commission_fees/edit.html.erb -->
<h1>Edit Commission Fee</h1>
<%= render 'form', commission_fee: @commission_fee %>
