<!-- filepath: /c:/Users/Taffy/OneDrive/Desktop/Repositories/parts-box/app/views/admin/couriers/show.html.erb -->
<h1 class="page-title">Courier Details</h1>

<p><strong>Name:</strong> <%= @courier.name %></p>
<p><strong>Email:</strong> <%= @courier.email %></p>
<p><strong>Phone Number:</strong> <%= @courier.phone_number %></p>