<h1>Your PartsToGo Order Could Not Be Placed</h1>

<p>Hi <%= @user.username %>,</p>

<p>We're sorry, but we were unable to process your recent order on PartsToGo.</p>

<p>Please try placing your order again, or contact our customer support team at [email address] for assistance.</p>

<p>Sincerely,</p>
<p>The PartsToGo Team</p>