<!-- filepath: /c:/Users/Taffy/OneDrive/Desktop/Repositories/parts-box/app/views/admin/platform_fees/edit.html.erb -->
<h1 style="text-align: center;">Edit Platform Fee</h1>
<%= render 'form', platform_fee: @platform_fee %>