<!-- filepath: /c:/Users/Taffy/OneDrive/Desktop/Repositories/parts-box/app/views/admin/platform_fees/edit.html.erb -->
<h1>Edit Platform Fee</h1>
<%= render 'form', platform_fee: @platform_fee %>
<%= link_to 'Back', admin_platform_fees_path %>