  .page-title {
    text-align: center;
    margin-bottom: 20px;
  }

  .navigation-links {
    text-align: center;
    margin-bottom: 20px;
  }

  .nav-link {
    font-size: 16px;
    color: #f8760b;
    text-decoration: none;
  }

  .nav-link:hover {
    text-decoration: underline;
  }

  .filter-forms {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
  }

  .filer-forms-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .form-group {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .form-control {
    display: inline-block;
    width: auto;
    margin-right: 10px;
  }

  .btn {
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .btn-primary {
    background-color: #0056b3;
    color: #fff;
  }

  .btn-primary:hover {
    background-color: #004494;
  }

  .btn-secondary {
    background-color: #6c757d;
    color: #fff;
    margin-bottom: 10px;
  }

  .btn-secondary:hover {
    background-color: #5a6268;
  }

  .btn-success {
    background-color: #28a745;
    color: #fff;
  }

  .btn-success:hover {
    background-color: #218838;
  }

    .btn-danger {
    background-color: #dc3545;
    color: #fff;
  }

  .btn-danger:hover {
    background-color: #c82333;
  }

  .btn-black-bg {
    background-color: #000;
    color: #fff;
  }

  .btn-black-bg:hover {
    background-color: #333;
  }

  .table-container {
    overflow-x: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: none;

  }

  .table th, .table td {
    text-align: center;
    padding: 10px;
    border: none;

  }

  .table th {
    background-color: #000;
    color: #fff;
    font-weight: bold;
  }

  .slot-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
  }

  @media (max-width: 768px) {
    .filter-forms {
      flex-direction: column;
      align-items: center;
    }

    .form-group {
      width: 100%;
      text-align: center;
    }

    .form-control {
      width: 100%;
      margin-bottom: 10px;
    }

    .btn {
      width: 100%;
      margin-bottom: 10px;
    }
  }