/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8760b;
    margin: 0;
    padding: 0;
  }
  
  /* Container */
  .search-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  /* Title */
  .title {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .title i {
    margin-right: 10px;
    color: #0056b3;
  }
  
  /* Form */
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group label {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .search-input {
    padding: 10px;
    width: 90%;
    max-width: 400px;
    border: 2px solid #0056b3;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  
  .search-input:focus {
    border-color: #f8760b;
    outline: none;
  }
  
  .search-button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    width: 100%;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
  }  